@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Üstün nigerin sayfası</h1>
    <p>Kültürlen <a href="https://youtu.be/ScpehcPg_i4?si=qSGMYsvfbpfszgpZ">ezik haktanın götten yediği video</a>.</p>
</div>
