@{
    ViewData["Title"] = "Kitap Bİlgileri";
}
<h2>@ViewData["Title"]</h2>
<div style="text-algin: center;">
    <p><strong>Kitap Adı:</strong>
    @ViewBag.Book.kitapAd</p>

     <p><strong>Yazar::</strong>
    @ViewBag.Book.Yazar</p>
    </div>